html {
    height: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
    background-repeat:no-repeat;
    background: linear-gradient(#8FB2B2, #2B3535);
    background-color: #8FB2B2;
    background-attachment:fixed;
}

#main {
    background-color:white;
    border-radius: 10px;
    padding: 50px 50px 50px 50px;
    position: relative;
    top: 100px;
    margin: 0px 8% 100px 8%;  
}

.header {
    font-size:larger;
    position: absolute;
    top: 25px;
    left: 9%;
}

.error {
    color: red;
}